{% extends 'base_study.html' %}

{% block title %}Finished{% endblock %}

{% block content %}
	<br>
	<h4> Thank you for finishing this part of the study! </h3>
	<br>
	<p> There is only one more section left in the study. Please click <a href="https://columbia.az1.qualtrics.com/jfe/form/SV_bknPrYQJgOivg7H"> HERE </a> to access the final survey. </p>
  <!-- <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form> -->
{% endblock %}