{% extends 'base.html' %}

{% block login %}Login{% endblock %}

{% block content %}
<h3> Introduction </h3>
<br>
<p> Hi there!  In the following task, you will be asked to watch and try to recall a series of words. </p>
<br>
<h4>
  <ol>
    <li>You will see a group of words flashing across the screen. </li>
    <br>
    <li>You will be asked to write down all the words you can remember flashing across the screen.</li> 
  </ol>
</h4>
<br>
<h4>After a series of recall tasks, you will be given a story to read. Try to keep the story in mind as you progress through the task! </h4>

<p> When you're ready, <a href='/login/'> login </a> to continue!</p>
  Good luck :)


{% endblock %}

{% block footer %}
{% endblock %}

