{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<br>
<p> After logging in, you will be immediately shown a sequence of flashing words. Try your best to remember them. At the end of the sequence you will be asked to recall as many as you can. </p>
  <br>

  <h3>3-Digit User ID</h3>

  <form action = "/logging_in/" method="post">
    {% csrf_token %}
    <input type="text" placeholder="3-Digit User ID" name = "uid" required>
    <button type="submit">Login and Start</button>
  </form>
{% endblock %}