{% extends 'base_study.html' %}

{% block head %}
	<style>

/*	body {
		color:#F78EBC;
	}*/
	html{
      color:#D3D3D3 !IMPORTANT;
    }
	li {
		list-style-type: none;
		color:black;
	}

	#w1{
		font-family: {{sec.0.1}};
		font-size: {{sec.0.2}}px;
		display:none;
	}

	#w2{
		font-family: {{sec.1.1}};
		font-size: {{sec.1.2}}px;
		display:none;
	}

	#w3{
		font-family: {{sec.2.1}};
		font-size: {{sec.2.2}}px;
		display:none;
	}

	#w4{
		font-family: {{sec.3.1}};
		font-size: {{sec.3.2}}px;
		display:none;
	}

	#w5{
		font-family: {{sec.4.1}};
		font-size: {{sec.4.2}}px;
		display:none;

	}

	#w6{
		font-family: {{sec.5.1}};
		font-size: {{sec.5.2}}px;
		display:none;

	}

	#w7{
		font-family: {{sec.6.1}};
		font-size: {{sec.6.2}}px;
		display:none;

	}

	#w8{
		font-family: {{sec.7.1}};
		font-size: {{sec.7.2}}px;
		display:none;

	}

	#w9{
		font-family: {{sec.8.1}};
		font-size: {{sec.8.2}}px;
		display:none;

	}

	#w10{
		font-family: {{sec.9.1}};
		font-size: {{sec.9.2}}px;
		display:none;
	}

	#story_title{
		font-family: {{story_font}};
		font-size:large;
		color:black
	}
	#story{
		font-family:{{story_font}};
		font-size: large;
		color:black
	}

	#after-flash {
		display:none;
	}

	#flashing{
		margin:0 auto;
		width: 400px;
		text-align: center;
		padding-top: 100px;
	}

	#section-header{
		font-style: underline;
		border-bottom: 1px solid black;
	}

	#next_button{
		margin-top: 10px;
		margin-bottom: 10px;
	}

</style>

{% if part != '4' %}
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
	<script type="text/javascript">
			var time = 1000;
			var fade = 150;
			$(document).ready(function(){
				$('#w1').show(fade,function(){
						setTimeout(function(){$('#w1').hide(fade,function(){
							$('#w2').show(fade,function(){
						setTimeout(function(){$('#w2').hide(fade,function(){
							$('#w3').show(fade,function(){
						setTimeout(function(){$('#w3').hide(fade,function(){
							$('#w4').show(fade,function(){
						setTimeout(function(){$('#w4').hide(fade,function(){
							$('#w5').show(fade,function(){
						setTimeout(function(){$('#w5').hide(fade,function(){
							$('#w6').show(fade,function(){
						setTimeout(function(){$('#w6').hide(fade,function(){
							$('#w7').show(fade,function(){
						setTimeout(function(){$('#w7').hide(fade,function(){
							$('#w8').show(fade,function(){
						setTimeout(function(){$('#w8').hide(fade,function(){
							$('#w9').show(fade,function(){
						setTimeout(function(){$('#w9').hide(fade,function(){
							$('#w10').show(fade,function(){
						setTimeout(function(){$('#w10').hide(fade,function(){
							$('#after-flash').show();
						});},time);
				});
						});},time);
				});
						});},time);
				});
						});},time);
				});
						});},time);
				});
						});},time);
				});		
						});},time);
				});
						});},time);
				});
						});},time);
				});
						});},time);
				});
			});
		
	</script>
{% else %}
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#after-flash').show();
		});
	</script>
{% endif %}
{% endblock %}


{% block title %}Study{% endblock %}

{% block content %}
<div id="section-header">
<h4> Section {{section }} Part {{part}} </h4>
</div>


{% if part != '4' %}
<div id="flashing">
	<ul>
		<li id="w1"><p> {{sec.0.0}} </p></li>
		<li id="w2"><p> {{sec.1.0}} </p></li>
		<li id="w3"><p> {{sec.2.0}} </p></li>
		<li id="w4"><p> {{sec.3.0}} </p></li>
		<li id="w5"><p> {{sec.4.0}} </p></li> 
		<li id="w6"><p> {{sec.5.0}} </p></li>
		<li id="w7"><p> {{sec.6.0}} </p></li> 
		<li id="w8"><p> {{sec.7.0}} </p></li>
		<li id="w9"><p> {{sec.8.0}} </p></li>
		<li id="w10"><p> {{sec.9.0}} </p></li> 
	</ul>
	
</div>
{% endif %}

<!-- only want this to show AFTER flashing has finished
also need to assign fonts to stories -->
<div id="after-flash">
	{% if part != '4' %}
	<h4 id="instructions"> Please type all words that you remember seeing from the flashing display here. <br><br>
	<span> Separate each word with a space or comma.</span> </h4>
	{% else %}
	<h4> Read the following story and click next when you are done. You will be asked comprehension questions about the stories later on. </h4>
	<br>
		<h5 id="story_title"> {{story_title}}</h5>
		<br> 
		<p id="story"> {{story}} </p>
		<br>
	{% endif %}

	<form action = "/next_part/" method="post" id="next_part">
	    {% csrf_token %}
	    <input type="hidden" name ="section" value= {{section}} required>
	    <input type="hidden" name = "part" value = {{part}} required>
	    <input {% if part != '4' %} style="width:500px; height=200px" {% else %} style="display:none" {% endif %} type="text" name = "recognized_words" placeholder="Remembered Words" value=" ">
	    <button id="next_button" type="submit">Start Next Part</button>
	 </form>
 </div>
 
{% endblock %}